name: node js dockerization
on: 
   push:
      branches: 
      - main

jobs: 
 build-and-run:
  runs-on: ubuntu-latest

  steps:
  - name: Checkout code
    uses: actions/checkout@v4

  - name: Docker login
    uses: docker/login-action@v3
    with: 
     username: ${{ secrets.DOCKERHUB_USERNAME }} 
     password: ${{ secrets.DOCKERHUB_TOKEN }}

  - name: Build Docker Image
    run: docker build -t test:latest .
    working-directory: ./cicd-react-application-main

  - name: push docker Image
    run: |
     docker tag test:latest anjuhubdocker/test:latest  
     docker push anjuhubdocker/test:latest 

 
                       

   
     
    
    

 


  

